.wrapper-surat {
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 3px;
}

.wrapper-surat:hover {
    transform: scale(1.1);
}

.btn-close-surat {
    position: absolute;
    right: 0;
    font-size: 20px;
}