@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

.bg-permission {
    position: relative;
}

.bg-permission:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/image/img2.jpg);
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.text-permission {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}

@media (max-width:576px) {
    html {
        font-size: 75%;
    }

    .text-permission {
        font-size: 15px;
    }

    .bg-permission:before {
        background-position: center;
    }
}