@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

.pricelist {
    margin: auto;
    width: 1000px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.title-pricelist {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.th-pricelist, .td-pricelist {
    border: 2px solid #dddddd;
    padding: 10px;
    width: 2px;
}

.th-pricelist {
    background-color: #afafaf;
    text-align: center;
}

@media (max-width:576px) {
    .pricelist {
        width: 100%;
    }
}